body{
    
    background-color:#ffffff;
    
}

h2{
    text-align: center;
    color: blue;
    
}
form {
    

    background-color:rgb(235, 233, 233);
    border: 1px solid #17b834;
    border-radius: 8px;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(146, 241, 246, 0.1);
    font-family: Arial, sans-serif;
    
}


form label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%);
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 5s ease

}



form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
    transition: border-color 0.5ease;
    cursor: pointer;
}


form input:focus {
    border-color: #0f8cfa;
    outline: none;
    outline: #0f8cfa;
    cursor: pointer;
}


form button {
    background-color: #5e9ed6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    input:focus~label,
input:valid~label{
    top: 1px;
    font-size: 8em;
    background: #1f293a;
    color: #0ef;
}
}

form button:hover {
    background-color: #468bb6;
}
textarea:active{
    color: #468bb6;


}







